.validate-message, #hint-message {
    text-align: center;
    margin: 2%;
}

.validation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}
.validation button {
    background-color: #1f2738;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 2vw;
    font-size: 2vw;
}

.validation button:hover {
    background-color: #059aa5;
}

.validation-item {
    text-align: center;
}

.validation-item a {
    background-color: #243676;
    border-radius: 2vw;
    padding: 1% 2%;
    font-size: 1vw;
}