section {
    background-image: url('assets/background-easy-level.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#question {
    background-color: rgba(255, 192, 86, 0.5);
    color: black;
}

.validate-message, #hint-message {
    text-align: center;
    margin: 2%;
}

.validation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}
.validation button {
    background-color: rgba(160, 200, 104, 0.6);
    color: black;
    border: none;
    padding: 2%;
    border-radius: 2vw;
    font-size: 2vw;
}

.validation button:hover {
    background-color: rgb(160, 200, 104);
}

.validation-item {
    text-align: center;
}

.validation-item a {
    background-color: rgba(155, 195, 195, 0.7);
    border-radius: 2vw;
    padding: 1% 2%;
    font-size: 1vw;
}