section {
    background-image: url('assets/background-game.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main p {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.grid-game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 10%;
    font-size: 3vw;
    color: var(--main-color);
    gap: 2vw;
}

.game-level-easy a, .game-level-middle a, .game-level-hard a {
    border-radius: 0.5vw;
    background-position: center;
    background-size: cover;
    padding: 20%;
}

.game-level {
    background-color: rgba(224, 218, 90, 0.7);
    padding: 15%;
    border-radius: 2vw;
}