section {
    background-image: url('assets/background-guide.png');
    background-position: center;
    background-repeat: no-repeat;
}

main {
    padding: 15% 15% 5% 15%;
}

.guide {
    text-align: center;
    background-color: rgba(248, 190, 22, 0.4);
    padding: 5%;
    border-radius: 2vw;
}

.guide p {
    padding: 2%;
    text-align: justify;
}