section {
    background-image: url('assets/background-easy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-game {
    text-align: center;
    padding: 5%;
}

.grid-game h1 {
    padding: 5%;
    font-size: 5vw;
}

.grid-level {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
}

.grid-level p {
    padding: 15% 30%;
    border-radius: 2vw;
    font-size: 5vw;
}

#level-lock p {
    display: none;
}

button {
    background-color: #211d10;
    border: none;
    border-radius: 2vw;
}

button img {
    width: 4vw;
}

/* .grid-level p {
    font-size: 2%;
    color: aliceblue;
} */

/* #text-2 {
    font-size: 5vw;
} */

/* #unlocked-level {
    display: none;
} */

.level img {
    width: 5vw;
}

/* #level-2 p {
    display: none;
} */